.form-error {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    font-size: 7px;
    line-height: 1.21;
    color: #D91313;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;

    &_active {
      opacity: 1;
    }
  }